.mainSearchControls .Tabs ul li.selected {
    background-color:#f5f5f5;
}

.flexItem .Link {
    float:right;
}
.flexItem {
    min-height:400px;
}

dt {
     font-weight:bold;
     font-size:110%;
     padding-top: 10px;
}

dd {
     margin-inline-start: 20px;
}